body {
  background-color:rgba(253, 0, 0, 0.973);
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

.center {
  text-align: center;
}

.note {
  text-align: center;
  font-size: 13px;
}

.gif {
  margin: auto;
  width: 50%;
}

.audio {
  display: table;
  margin: 0 auto;
}

.audioText {
  text-align: center;
  font-weight: bold;
}

#mainMessage {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.picLeft {
  margin: auto;
  float: left;
}

#picsIntro {
  text-align: center;
  font-size: 17px;
}

/* CSS for links begins */

a:link {
  color: rgb(75,0,130);
  border: 2px solid rgb(75,0,130);
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}

a:visited {
  color: rgb(212,175,55);
  border: 2px solid rgb(212,175,55);
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}

/* CSS for links end */

.noteSection {
  font-family: cursive;
  font-size: 20px;
}